<section>
  <h1>Users endpoint</h1>
  <p>Here should be displayed a list of the users</p>
  <div><% @users.each do |user|%>
      <%=user.name%>
      <img src=<%=user.photo%> alt='user-photo'>
    <%end%>
  </div>
</section>
