<section>
  <h1>Users endpoint</h1>
  <p>Here should be displayed a list of the users</p>
  <div class='user-card-container'><% @users.each do |user|%>
      <article class='user-card'>
        <div class='user-img-div'>
          <img src=<%=user.photo%> alt='user-photo' class='user-img'>
        </div>
        <div class='user-info'>
          <h2> <%= link_to user.name, user_path(user)%></h2>
          <h3>Number of Posts: <%=user.posts_counter%></h3>
        </div>
      </article>
    <%end%>
  </div>
</section>
